:root {
    --white: #fff;
    --background: hsl(212, 45%, 89%);
    --text: hsl(216, 15%, 48%);
    --title: hsl(218, 44%, 22%);
}

.attribution a, .attribution { 
    display: none;
}

body {
    background: var(--background);
    font-family: Outfit;
    margin: 0;
    height: 100vh;
    display: flex;
}

.title, .paragraph {
    margin-inline: 24px;
}

.main-container {
    border-radius: 20px;
    background-color: var(--white);
    width: 16%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: auto;
    align-self: center;
}

.qr-img {
    border-radius: 10px;
    margin: 12px;
}

.title {
    font-weight: 700;
    color: var(--title);
    font-size: 21px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 7px;
}

.paragraph {
    font-size: 15px;
    font-weight: 400;
    color: var(--text);
    text-align: center;
    margin-bottom: 35px;
}

@media (max-width: 375px) {
    .main-container {
        width: 80%;
    }
}